To setup this application in a system, one should install these Python libraries into the machine before executing them. They are as follows-

(a) pandas
(b) matplotlib
(c) pygal
(d) openpyxl
(e) pytest
(f) pylint
(g) pil
(h) numpy
(i) smtplib
(j) MIMEBase, MIMEText, MIMEMultipart
(k) build_table
(l) encoders
(m) MIMEMultipart 

To install in Windows, use the following command -

pip install <command_name>

To install in Ubuntu, use the following command -

sudo apt install python3-<command_name>
