name: PyLint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Install Python
      run:  sudo apt -y install python
    - name: Change folder
      run:  cd Implementation
    - name: Check
      run:  python UI.py
